.page {
    margin: 1rem;
    border-radius: 10px;
    border: 1px;
    background-color: #dad7d4;
    color: #0f0f0f
}

.page h1 {
    margin: 1rem;
    text-align: center;
}


.title {
    background-color: #c5c2c0;
    color: beige;
    padding: 10px
}

.table {
    width:100%;
    border-collapse: collapse;
    padding:5px;
    color:black
}

.table td, .title th {
    padding: 15px
}

.table td:hover {
    background-color: #CACF85;
}

.tableRow {
    background-color: #dad7d4;
    padding: 10px
}
.filter {
    padding:10px;
    background-color: #f0f0f0;
    color: #0d0f0f
}
.filter input {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.filter label {
    padding:5px;
}
.filter button {
    background-color: aqua;
    text-decoration: none;
    border:none;
    padding: 10px;
    margin-left: 10px;
    min-width: 75px
}


