.page {
    border: 1px;
    width: 100;
    min-height:30;
}

.page .content {
    margin-left: 10%;
}

.page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    position: fixed;
    background-color: rgba(255,255,255,0.60);
    overflow: auto;
  }
  
.page li a {
    margin: auto;
    display: block;
    color: #000;
    padding: 8px 16px;
    min-height: 100px;
    margin:auto;
    text-align: center;
    text-decoration: none;
  }

.page li a:hover {
    background-color: rgba(255,255,255,0.60);
}

.page .brightness {
    background-color: darkcyan;
}
.page .humidity {
    background-color: darkgoldenrod;
}
.page .temperature {
    background-color: firebrick;
}

